/* 
off white: #fffded
light purple: #4f4789
*/
:root {
  --color-white: #fffded;
  --color-light-gray: #fcfbff;
  --color-dark-gray: #646464;
  --color-purple: #4f4789;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  max-inline-size: 1100px;
  margin-inline: auto;
}

.header {
  padding-block: 25px;
}

.header-logo {
  height: 50px;
  width: auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.primary-nav li {
  font-size: 1.125rem;
  font-weight: 500;
}

.header h1 {
  font-size: 7rem;
  text-align: center;
}

section {
  padding-block: 75px;
}

.reviews-wrapper {
  display: grid;
  gap: 1em;

  @media (width > 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials-wrapper {
  text-align: center;
}

.testimonials {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.testimonials-card {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
}

/* .testimonials-card img {
  fill: var(--color-purple);
} */

.testimonials-card .author {
  margin-top: 1.5em;
  font-size: 0.75rem;
}

.footer {
  background-color: #4f4789;
  color: #fffded;
  text-align: center;
  padding-block: 3em;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
