:root {
  --color-white: #fffded;
  --color-light-gray: #fcfbff;
  --color-dark-gray: #646464;
  --color-purple: #4f4789;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-inline-size: 1100px;
  margin-inline: auto;
}

.header {
  padding-block: 25px;
}

.header-logo {
  height: 50px;
  width: auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-nav ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style: none;
}

.primary-nav li {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color-dark-gray);
}

.primary-nav .btn {
  display: inline-block;
  background-color: var(--color-purple);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.25em 0.75em;
  font-size: 1rem;
  border-radius: 4px;
}

.header h1 {
  font-size: 7rem;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url("/images/header.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 1200px;
  border-radius: 6px;
  margin-inline: auto;
  padding: 50px;
}

.hero-title {
  color: var(--color-white);
  font-size: 4rem;
  font-family: serif;
  font-weight: 500;
  line-height: 1.2;
}

.hero-subtext {
  color: var(--color-white);
  font-size: 1.125rem;
  font-weight: 300;
}

section {
  padding-block: 75px;
}

.reviews-wrapper {
  display: grid;
  gap: 1em;

  @media (width > 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  color: var(--color-dark-gray);
}

.mission-title {
  font-size: 1.375rem;
}

.mission-title:after {
  content: "";
  display: block;
  width: 20%;
  border-bottom: 6px solid var(--color-purple);
  margin-block: 0.5em;
}

.mission-subtext {
  font-size: 0.875rem;
  margin-bottom: 0.75em;
}

.mission-btn {
  display: inline-block;
  background-color: var(--color-purple);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.625em 1.5em;
  border-radius: 4px;
}

.testimonials-wrapper {
  text-align: center;
  color: var(--color-dark-gray);
}

.testimonials {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

.testimonials-card {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 1em;
  border-radius: 0.5em;
  text-align: left;
}

.testimonials-card .author {
  margin-top: 1.5em;
  font-size: 0.75rem;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  color: var(--color-dark-gray);
}

.contact-title {
  font-size: 1.375rem;
}

.contact-title:after {
  content: "";
  display: block;
  width: 20%;
  border-bottom: 6px solid var(--color-purple);
  margin-block: 0.5em;
}

.contact-details > * {
  margin-bottom: 1em;
}
.contact-item {
  display: flex;
  gap: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  padding: 1.5em 2em;
}

.contact-form input {
  padding: 0.75em 1.5em;
  border: 1px solid var(--color-dark-gray);
}

.contact-form textarea {
  padding: 0.75em 1.5em;
  font-family: inherit;
}

.contact-form button {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding-block: 1em;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2;
}

.footer {
  background-color: #4f4789;
  color: #fffded;
  text-align: center;
  padding-block: 3em;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
